{% extends "home/base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/register.css') }}">
    <div class="register">
        <form class="form" action="" method="post">
            {{ form.hidden_tag() }}
            <h1>Register</h1>
            <div class="email fi">
                {{ form.email_id.label }}<br>
                {{ form.email_id(type = 'email') }}
            </div>
            <div class="password fi">
                <div class="password1">
                    {{ form.password.label }}<br>
                    {{ form.password() }}
                </div>
                <div class="password2">
                    {{ form.confirm_password.label }}<br>
                    {{ form.confirm_password() }}
                </div>
            </div>
            <div class="name fi">
                <div class="first-name">
                    {{ form.first_name.label }}<br>
                    {{ form.first_name() }}
                </div>
                <div class="last-name">
                    {{ form.last_name.label }}<br>
                    {{ form.last_name() }}
                </div>
            </div>
            <div class="dob fi">
                {{ form.dob.label }}<br>
                {{ form.dob(type = 'date') }}
            </div>
            <div class="address fi">
                {{ form.address.label }}<br>
                {{ form.address() }}
            </div>
            <div class="const fi">
                {{ form.constituency.label }}<br>
                {{ form.constituency() }}
            </div>
            <div class="submit">
                {{ form.submit() }}
            </div>
        </form>
    </div>
{% endblock content %}
