<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename = 'images/favicon.ico') }}">
    <title>403 Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/errors.css') }}">
    <script src="{{ url_for('static', filename = 'js/all.js') }}"></script>
</head>
<body>
    <header>
        <a href="http://localhost:5000">
            <h1>Voter App</h1>
        </a>
    </header>
    <main>
        <h1 class="logo"><i class="fas fa-exclamation-circle fa-fw"></i></h1>
        <h1 class="error">403</h1>
        <p>Please check your account and try again.</p>
        <a href = "{{ url_for('home.index') }}">Go to the home page<i class="fas fa-chevron-right fa-fw"></i></a>
    </main>
</body>
</html>