.dashboard{
    display: grid;
    grid-template-rows: 100px 200px 200px;
    grid-template-columns: repeat(4, 1fr);
    color: white;
}

.vs{
    display: none;
}

.info{
    background-color: rgba(63,9,156,1);
    color: white;
    box-shadow: 0 10px 6px -6px #777;
    grid-row: span 1;
    grid-column: span 4;
    margin: 10px 20px 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info h3{
    margin: 10px 20px;
}

.status{
    padding: 10px;
    background-color: rgba(22,152,48,1);
    color: white;
    border-radius: 40px;
}

.span-info{
    padding: 10px;
    border: 2px solid rgba(22,152,48,1);
    border-radius: 40px;
}

.user-details{
    grid-column: span 1;
    grid-row: span 2;
    margin: 5px 5px 5px 20px;
}

.vote{
    grid-row: span 1;
    grid-column: span 1;
    margin: 5px;
}

.candidate{
    grid-row: span 1;
    grid-column: span 1;
    margin: 5px 20px 5px 5px;
}

.results{
    grid-row: span 1;
    grid-column: span 1;
    margin: 5px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(63,9,156,1);
    border: 2px solid rgba(63,9,156,1);
}

.box p{
    margin: 0px;
    padding: 0px;
    font-size: 2em;
}

.box h1{
    margin: 0;
    padding: 0px 10px;
}

.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 20px 5px 5px;
}

.box2 p{
    margin: 0px;
    padding: 0px 20px;
    font-size: 1.7em;
}

.box2 h1{
    margin: 0px;
}

.hov{
    cursor: pointer;
}

.hov:hover{
    background-color: rgba(22,152,48,1);
    border-color: rgba(22,152,48,1);
    color: white;
    transform: scale(1.02);
    transition: transform 0.1s ease-out;
    box-shadow: 0 10px 6px -6px #777;
}
