main{
    margin: 1.5rem;
}

.cards{
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: rgb(17,17,17);
    color: rgb(18, 187, 116);
    padding: 0.5rem;
    border-radius: 7px;
}

.card{
    text-align: center;
    border-radius: 7px;
    width: 12rem;
    margin: 0rem 1rem;
}

.card h5{
    color: #efefef;
    margin: 0.5rem 0rem;
    padding: 0.3rem;
    font-size: 1.1rem;
    border: 2px solid rgb(18, 187, 116);
    border-radius: 7px;
}

.card h3{
    font-size: 1.3rem;
    margin: 0;
    padding: 1.2rem 0rem;
}

.vs h3{
    color: rgb(216, 8, 8);
}