html, body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body{
    font-family: 'Montserrat';
    font-size: 1em;
    background-color: #efefef;
    text-align: center;
}

main h1{
    font-size: 3em;
    padding: 20px;
    color: rgb(16,16,16);
}

main h2{
    margin: 30px;
    color: #1462a8;
    padding-bottom: 40px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: rgb(16,16,16);
}

.box{
    display: flex;
    align-items: center;
    margin: 20px;
    height: 80px;
    width: 300px;
    border: 2px solid rgb(16,16,16);
    border-radius: 7px;
}

.box:hover{
    background-color: rgb(16,16,16);
    color: #1462a8;
    transition: 0.2s ease-out;
}

.box h1{
    margin: 0px;
    padding: 20px;
}

.box h2{
    margin: 0px;
    font-size: 2em;
}

footer{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}