html{
    font-size: 16px;
}

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Montserrat';
    background-color: #efefef;
    text-align: center;
    position: relative;
}

main h1{
    margin: 1.5rem;
    font-size: 3rem;
    color: rgb(16,16,16);
}

main h2{
    font-size: 1.5rem;
    margin: 3rem;
    padding: 2rem;
    color: rgb(18, 187, 116);
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

a{
    text-decoration: none;
    color: rgb(16,16,16);
}

.box{
    display: flex;
    align-items: center;
    margin: 1rem 1.5rem;
    height: 80px;
    width: 300px;
    border: 2px solid rgb(16,16,16);
    border-radius: 7px;
    transition: all 0.2s ease-out;
}

.box:hover{
    background-color: rgb(16,16,16);
    color: rgb(18, 187, 116);
}

.box h1{
    margin: 0;
    padding: 1.2rem;
}

.box h2{
    margin: 0;
    font-size: 2em;
}

footer{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}