html{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid; 
    grid-template-rows: 100vh;
    grid-template-columns: 33% 67%;
    font-family: 'Montserrat';
    background-color: #efefef;
}

aside{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    background-color: rgb(16,16,16);
    color: rgb(18, 187, 116);
}

aside a{
    text-decoration: none;
    color: rgb(18, 187, 116);
}

aside h1{
    margin: 1.5rem 1.5rem 6rem 1.5rem;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
}

aside p{
    margin: 0;
    padding: 2.5rem 2.5rem 0rem 2.5rem;
    font-size: 1.5rem;
    animation: phasein 1s ease-out;
}

aside cite{
    display: inline-block;
    padding: 2.5rem;
    font-size: 1.2rem;
    animation: phasein 1s ease-out;
    animation-delay: -0.2s;
}

@keyframes phasein{
    from{
        transform: translateY(50px);
    }
    to{
        transform: translateY(0px);
    }
}

main{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    align-self: center;
    justify-self: center;
}

form{
    border: 2px solid rgb(16,16,16);
    border-radius: 7px;
    padding: 0rem 3rem 1.5rem 3rem;
}

form h1{
    margin: 0;
    padding: 2rem;
    text-align: center;
    font-size: 2.5rem;
}

.inp{
    padding: 1rem;
}

.inp label{
    display: inline-block;
    padding: 1rem 0.3rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.inp input{
    height: 30px;
    width: 300px;
    padding: 0.8rem;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    border-radius: 5px;
    border: 2px solid #efefef;
    transition: all 0.3s ease-out;
}

.inp input:focus{
    border: 2px solid rgb(16,16,16);
}

.submit{
    text-align: center;
    padding: 1rem;
}

.btn{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #efefef;
    background-color: rgb(18, 187, 116);
    outline: none;
    border: 2px solid rgb(18, 187, 116);
    border-radius: 7px;
    padding: 1rem 3rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.btn:hover{
    border: 2px solid #efefef;
}

.flashbox{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 33%;
    width: 67%;
    height: 60px;
    background-color: rgb(17,17,17);
    color: rgb(18, 187, 116);
    box-shadow: 0px 4px 10px 0px rgba(17,17,17,1);
}

.flashbox h3{
    margin: 0;
    padding: 1.5rem;
}

.flashbox h6{
    margin: 0;
    position: absolute;
    right: 2rem;
    cursor: pointer;
}

.flashbox h6:hover{
    color: rgb(18, 187, 116);
}

.toggle-flashbox{
    transform: translateY(-60px);
    transition: all 0.3s ease-in-out;
}