.register{
    background: rgb(63,9,156);
    background: linear-gradient(90deg, rgba(63,9,156,1) 0%, rgba(224,49,250,1) 100%);
    color: white;
}

.form h1{
    margin: 0px;
    padding: 20px;
    font-size: 3em;
    text-align: center;
}

label{
    display: inline-block;
    padding: 20px 20px 10px 0px;
    font-weight: 600;
    font-size: 1.2em;
}

input{
    font-family: 'Montserrat';
    width: 300px;
    height: 30px;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
}

.fi{
    padding: 15px 20px;
}

.password{
    display: flex;
}

.password1{
    padding-right: 40px;
}

.name{
    display: flex;
}

.first-name{
    padding-right: 40px;
}

textarea{
    font-family: 'Montserrat';
    width: 400px;
    height: 100px;
    font-size: 1em;
    padding: 10px 20px;
    border: none; 
    resize: none;
}

select{
    font-family: 'Montserrat';
    font-size: 1.2em;
    width: 300px;
    height: 50px;
    padding: 5px;
    border: none; 
}

select option{
    font-family: 'Montserrat';
    font-size: 1.2em;
}

.submit{
    padding: 15px 20px 100px 20px;
    display: flex;
    justify-content: center;
}

#submit{
    font-family: 'Montserrat';
    font-size: 1.4em;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background: rgb(38,226,54);
    background: linear-gradient(90deg, rgba(22,152,48,1) 0%, rgba(38,226,54,1) 100%);
    border: none;
    cursor: pointer;
}

