.vote h1{
    font-size: 2em;
    text-align: center;
}

.cand{
    background-color: #efefef;
    width: 600px;
    height: 120px;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cand:hover{
    transform: scale(1.02);
    transition: transform 0.1s ease-out;
    box-shadow: 0 10px 6px -6px #777; 
}

#symbol{
    width: 100px;
    height: 100px;
    padding: 20px;
}

.cand h3{
    padding: 20px;
}

[id="1"]:hover{
    background-color: rgb(241, 142, 21);
}

[id="2"]:hover{
    background-color: rgb(92, 196, 231);
}

[id="3"]:hover{
    background-color: rgb(22, 148, 22);
}

[id="8"]:hover{
    background-color: rgb(211, 14, 14);
}
