<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Voter App</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
    <script src="{{ url_for('static', filename = 'js/all.js') }}"></script>
</head>
<body>
    <header>
        <h1 id="logo">Voter App <sub>beta</sub></h1>

        {% if login_status == 1 %}
            <a href="{{ url_for('users.account') }}"><i class="fas fa-user fa-fw fa-2x"></i></a>
            <a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt fa-fw fa-2x"></i></a>
        {% elif login_status == 2 %}
            <a href="{{ url_for('home.dashboard') }}"><i class="fas fa-home fa-fw fa-2x"></i></a>
            <a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt fa-fw fa-2x"></i></a>
        {% endif %}
    </header>

    
    {% with messages = get_flashed_messages() %}
    {%  if messages %}
        {% for message in messages %}
        <div class="flash">
            <h3>{{ message }}</h3>
            <h6><i class="fas fa-times fa-fw fa-2x"></i></h6>
        </div>
        <script>
            flash = document.getElementsByClassName('flash')[0];
            close = document.getElementsByTagName('h6')[0];
            close.addEventListener("click", () => {
                flash.style.display = 'none';
            })
            
            setTimeout(() => {
                flash.style.display = 'none';
            }, 8000);
        </script>
        {% endfor %}
    {% endif %}
    {% endwith %}
    
    {% block content %}

    {% endblock content %}
    <script>
        logo = document.getElementById('logo');

        logo.onclick = function(){
            window.location.href = 'http://localhost:5000'
        }
    </script>
</body>
</html>
