{% extends "home/base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/dashboard.css') }}">
<main>
    <div class="info-bar">
            <div class="name">
                <h2><span><i class="fas fa-user fa-fw"></i></span> {{ voter.first_name }} {{ voter.last_name }}</h2>
            </div>
            <div class="vid">
                <h2><span><i class="fas fa-id-card fa-fw"></i></span> {{ voter.voter_id }}</h2>
            </div>
            <div class="message">
                <h2><span style="color:red"><i class="fas fa-exclamation-triangle fa-fw"></i></span> Vote not casted!</h2>
            </div>
    </div>

    <div class="details">
        <div class="voter-details card">
            <h2><i class="fas fa-address-book fa-fw"></i> User details</h2>
            <h3><span>Email ID :</span> {{ voter.email_id }}</h3>
            <h3><span>Date of Birth :</span> {{ voter.dob }}</h3>
            <h3><span>Address :</span> {{ voter.address }}</h3>
        </div>

        <div class="con-details card">
            <h2><i class="fas fa-map-marked-alt fa-fw"></i> Constituency Details</h2>
            <h3><span>Constituency :</span> {{ cname }}</h3>
            <h3><span>Code :</span> {{ voter.const_code }}</h3>
            <h3><span>No. of candidates :</span> {{ noc }}</h3>
        </div>
    </div>
</main>

<script>
    var vs = '{{ voter.cand_id }}';
    var message = document.getElementsByClassName('message')[0].children[0];
    if(vs != 'None'){
        message.innerHTML = '<span><i class="fas fa-check fa-fw"></i></span> Vote casted!';
    }
</script>
{% endblock %}