{% extends "home/base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/dashboard.css') }}">
    <div class="dashboard">
        <div class="info">
            <h3>Dridhu Madan</h3>
            <h3>Voter ID : <span class="span-info">KA2310025</span></h3>
            <h3>Constituency : <span class="span-info">Bengaluru Rural</span></h3>
            <h3>Vote Casted : <span class="status"><i class="fas fa-check fa-fw fa-lg"></i></span></h3>
        </div>
        <div class="vote box hov">
            <h1><i class="fas fa-hand-point-up fa-fw fa-2x"></i></h1>
            <p>Cast your Vote!</p>
        </div>
        <div class="correction box2 hov">
            <h1><i class="fas fa-pen fa-fw fa-lg"></i></h1>
            <p>Apply for correction in details</p>
        </div>
        <div class="candidate box2 hov">
            <h1><i class="fas fa-users fa-fw fa-lg"></i></h1>
            <p>View candidate details</p>
        </div>
        <div class="results box hov">
            <h1><i class="fas fa-chart-pie fa-fw fa-2x"></i></h1>
            <p>View results</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'js/dashboard.js') }}"></script>
{% endblock content %}
