{% extends "home/base.html "%}

{% block content %}

<div class="vote">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/vote.css') }}">
    <h1>Constituency - Bengaluru Rural</h1>
    <div class="candidates">
        <div class="cand bjp">
            <img src="{{ url_for('static', filename = 'images/bjp.png') }}" alt="" id = "symbol">
            <h3>BJP</h3>
            <p>Name of candidate</p>
        </div>
        <div class="cand inc">
            <img src="{{ url_for('static', filename = 'images/inc.png') }}" alt="" id = "symbol">
            <h3>Congress</h3>
            <p>Name of candidate</p>
        </div>
        <div class="cand">
            <img src="{{ url_for('static', filename = 'images/jds.png') }}" alt="" id = "symbol">
            <h3>JDS</h3>
            <p>Name of candidate</p>
        </div>
    </div>
</div>

{% endblock content %}
